In [2]:
#Using Function
Employees=[(1,'Raghu','SD',45000000),(2,'Mohan','DE',6000000)]

def Add_Employee(emp):
    Employees.append(emp)

def Search_emp(id):
    for i in Employees:
        if i[0]==id:
            return i
    return f'Employee with ID {id} not found'
        
def Update_Emp_sal(id,new_sal):
    for i in Employees:
        if i[0]==id:
            ind=Employees.index(i)
            Employees[ind]=(i[0],i[1],i[2],new_sal) 
            return "Salary updated successfully"
    return 'Employee Not found'

def Delete_Emp(id):
    for i in Employees:
        if i[0]==id:
            Employees.pop(Employees.index(i))
            return f"Employee is Removed"
    return 'Employee Not found'

In [3]:
Employees

[(1, 'Raghu', 'SD', 45000000), (2, 'Mohan', 'DE', 6000000)]

In [4]:
Update_Emp_sal(2,100000000)

'Salary updated successfully'

In [5]:
Employees

[(1, 'Raghu', 'SD', 45000000), (2, 'Mohan', 'DE', 100000000)]

In [25]:
Add_Employee((3,'Dev','Operation',8000000))

In [26]:
Employees

[(1, 'Raghu', 'SD', 45000000),
 (2, 'Mohan', 'DE', 100000000),
 (3, 'Dev', 'Operation', 8000000)]

In [27]:
Delete_Emp(3)

'Employee is Removed'

In [28]:
Employees

[(1, 'Raghu', 'SD', 45000000), (2, 'Mohan', 'DE', 100000000)]

In [2]:
#Using Dictionary

In [ ]:
Employees={}

def AddEmployee():
    emp_id=int(input('Enter the employee id :'))
    if emp_id in Employees:
        return f'Employee with employee id {emp_id} already exists'
    else:
        name=input('Enter the name :')
        department=input('Enter the department :')
        salary=int(input('Enter salary :'))
        Employees[emp_id]=(name,department,salary)

In [9]:
def Search_Employee():
    emp_id=int(input('Enter the employee id :')) 
    if emp_id in Employees:
        print(f'Employee ID : {emp_id}')
        print(f'Name : {Employees[emp_id][0]}')
        print(f'Department : {Employees[emp_id][1]}')
        print(f'Salary : {Employees[emp_id][2]}')
    else:
        return f'Employee with Employee ID {emp_id} not exists.'

In [14]:
def Update_Employee_Salary():
    emp_id=int(input('Enter the employee id :')) 
    if emp_id in Employees:
        new_salary=int(input('Enter the new salary :'))
        Employees[emp_id]=(Employees[emp_id][0],Employees[emp_id][1],new_salary)
    else:
        return f'Employee with Employee ID {emp_id} not exists.'

In [17]:
def Remove_Employee():
    emp_id=int(input('Enter the employee id :')) 
    if emp_id in Employees:
        del Employees[emp_id]
        return 'Employee is removed'
    else:
        return f'Employee with Employee ID {emp_id} not exists.'

In [ ]:
AddEmployee()

'Employee with employee id 1 already exists'

In [10]:
Employees

{1: ('Rahul', 'AI&ML', 10000000)}

In [13]:
Search_Employee()

Employee ID : 1
Name : Rahul
Department : AI&ML
Salary : 10000000

In [15]:
Update_Employee_Salary()

In [16]:
Search_Employee()

Employee ID : 1
Name : Rahul
Department : AI&ML
Salary : 1769000

In [18]:
Remove_Employee()

'Employee is removed'

In [19]:
Employees

{}

In [ ]:
#Using Oops and Menu Deiven approach

In [7]:
Employees=[]

In [8]:
class Employee():
    def __init__(self,emp_id,name,department,salary):
        self.Emp_id=emp_id
        self.Name=name
        self.Department=department
        self.Salary=salary

    def Update_Salary(self):
        new_salary=int(input('Enter the new salary'))
        self.Salary=new_salary
        return 'Salary updated successfully'
    
    def Change_Department(self):
        new_dept=input('Enter the new department')
        self.Department=new_dept
        return 'Department updated Successfully'

    def Employee_Details(self):
        print(f'Employee ID : {self.Emp_id}')
        print(f'Name : {self.Name}')
        print(f'Department : {self.Department}')
        print(f'Salary : {self.Salary}')

In [19]:
def Add_NewEmployee():
    emp_id=int(input('Enter the employee id :'))
    for i in Employees:
        if i.Emp_id==emp_id:
            return f'Employee with employee id {emp_id} already exists'
    name=input('Enter the name :')
    department=input('Enter the department :')
    salary=int(input('Enter salary :'))
    emp=Employee(emp_id,name,department,salary)
    Employees.append(emp)
    return 'Employee added successfully.'

In [ ]:
def Search_Employee():
    emp_id=int(input('Enter the employee id :')) 
    for i in Employees:
        if i.Emp_id==emp_id:
            print("\n")
            return i.Employee_Details()
            print("\n")
    
    return f'Employee with Employee ID {emp_id} not exists.'

In [49]:
def Remove_Employee():
    emp_id=int(input('Enter the employee id :')) 
    for i in Employees:
        if i.Emp_id==emp_id:
            Employees.pop(Employees.index(i))
            del i
            return 'Employee is removed successfully'
    
    return f'Employee with Employee ID {emp_id} not exists.'

In [53]:
def Update_Salary():
    emp_id=int(input('Enter the employee id :')) 
    for i in Employees:
        if i.Emp_id==emp_id:
            new_salary=int(input('Enter the new salary :'))
            i.Salary=new_salary
            return 'Salary Updated successfully'
    return f'Employee with Employee ID {emp_id} not exists.'

In [63]:
while True:
    print("\n****** Employee Management System ******")
    print("1. Add New Employee")
    print("2. Search Employees")
    print("3. Update Employee Salary")
    print("4. Remove Employee")
    print("5. Exit\n")
    choice=int(input('Enter your Choice: '))

    if choice==1:
        Add_Employee()
    elif choice==2:
        Search_Employee()
    elif choice==3:
        Update_Salary()
    elif choice==4:
        Remove_Employee()
    elif choice==5:
        print("***** Exiting the progra. Thank You ! *****")
        break
    else:
        print('Enter a valid choice.')

****** Employee Management System ******
1. Add New Employee
2. Search Employees
3. Update Employee Salary
4. Remove Employee
5. Exit

Employee ID : 2
Name : Varun
Department : SD
Salary : 600000

****** Employee Management System ******
1. Add New Employee
2. Search Employees
3. Update Employee Salary
4. Remove Employee
5. Exit

***** Exiting the progra. Thank You ! *****